*{
	margin: 0px;
	padding: 0px;
}

body{
	background: black;
	
}
.img{

	width: 220px;
	height: 220px;
	margin-top: 20px;
	animation-name: vueltita;
	animation-duration: 5s;
	animation-timing-function: linear;
}
@keyframes vueltita{
	0%{
		transform: rotate(0deg);
	}
	50%{
		margin-left: 220px;
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
p{	
	color:white;
	font: bold 30px verdana;
	width: 800px;
	text-align: center;
	position: absolute;
	top: 90px;
	left: 500px;
}

#boton{
	font: bold 65px Times New Roman;
	text-decoration: none;
	background:red; 
	position: absolute;
	top: 450px;
	left: 950px;
	
}
#boton a:hover{
	background-color: gold;
	color: black;
}

a{
	color: white;
	text-decoration: none;


}
